##
## Velocity Template for DisplayGoogleSignInPage view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## rpUIContext - the context with SP UI information from the metadata
## clientId - the Google OAuth2 client ID needed by Google Javascript
## 

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Google Authentication</title>
    </head>
    <body>
      <script>
        function initAuth() {
          gapi.load('auth2', signIn);
        }
        function signIn() {
            gapi.auth2.init({
                'client_id' : '$clientId',
                'scope' : 'profile email'
                }).then(function (authInstance) {
                    authInstance.signIn().then(function() {
                        var googleUser = authInstance.currentUser.get();
                        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
                        var id_token = googleUser.getAuthResponse().id_token;
                        var id_input = document.getElementById("google_id_token");
                        id_input.value = id_token;
                        document.id_token_form.submit();
                        });
                });
        }
      </script>

      <script src="https://apis.google.com/js/platform.js?onload=initAuth" async defer></script>

      <form id="id_token_form" name="id_token_form" action="$flowExecutionUrl" method="post" style="display:none">
        <input id="google_id_token" name="google_id_token" type="text" value="" />
        <input id="_eventId" type="hidden" name="_eventId" value="proceed" />
      </form>

   </body>
</html>
